/*  your css code here. If applicable 
.p1{
	background-color: #eee;
	color: #00f;
	font-family: Arial;
	font-size: 20px;
}
.selector {
  color: rgb(0, 0, 255);
}*/
.selector {
  color: rgb(0, 0, 255); /* blue color as test expects */
  background-color: #eee;
  font-family: Arial;
  font-size: 20px;
}
